.App {
  box-sizing: content-box;
  margin: 0 auto;
  height: 80vh;
  width: 95vw;
  display: grid;
  grid-row-gap: 0.75rem;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas:
    "b b a a"
    "b b a a"
    "c c a a"
    "c c a a";
}

#main {
  margin-top: 2ch;
}

.editorLabel {
  position: absolute;
  font-size: 1rem;
  color: white;
  z-index: 2;
  bottom: 0;
  right: 0;
  border: 1px solid grey;
  padding: 4px 8px;
  margin-bottom: 0;
  background-color: #272822;
  border-top-left-radius: 4px;
}

#fullscreenLabel {
  position: absolute;
  font-size: 1rem;
  color: white;
  z-index: 2;
  bottom: 0;
  border: 1px solid grey;
  padding: 8px;
  margin-bottom: 0;
  background-color: black;
  border-top-right-radius: 4px;
}

#fullscreenLabel:hover {
  background-color: grey;
}

#liveViewLabel {
  color: black;
  background-color: white;
}

.editorBox {
  position: relative;
  border: 1px solid black;
  font-size: 1.5rem;
  resize: none;
  margin-top: 2rem;
}

#iframePreview {
  width: 100%;
  height: 100%;
}

#codePreview {
  grid-area: a;
  margin-left: 1rem;
}

#htmlBox {
  grid-area: b;
}

#cssBox {
  grid-area: c;
}

modalTitle {
  text-align: center !important;
}

@media only screen and (max-width: 800px) {
  .App {
    grid-template-areas:
      "b b a a"
      "b b a a"
      "c c c c"
      "c c c c";
  }

  #codePreview {
    grid-area: c;
    margin: 0;
  }

  #htmlBox {
    grid-area: b;
  }

  #cssBox {
    grid-area: a;
  }
}

@media only screen and (max-height: 300px) {
  .App {
    grid-template-areas:
      ". . . ."
      "b b b b"
      "b b b b"
      "a a a a"
      "a a a a"
      "c c c c"
      "c c c c"
      "d d d d"
      "d d d d";
  }

  #codePreview {
    grid-area: c;
    margin: 0;
  }

  #htmlBox {
    grid-area: b;
  }

  #cssBox {
    grid-area: a;
  }

  .editorBox {
    margin: 0.2rem;
  }
}
